.places__paragraph {
  max-width: 484px;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 163%;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .places__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .places__paragraph {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
