@import url(./__title/places__title.css);
@import url(./__image/places__image.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__place/places__place.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__link/places__link.css);
@import url(./__website/places__website.css);

.places {
    width: 90%;
    max-width: 985px;
    margin: 0 auto 92px auto;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
}

@media screen and (min-width: 800px) {
    .places {
        margin: 0 auto 88px auto;  
    }
}

@media screen and (max-width: 460px) {
    .places {
        margin: 0 auto 64px auto;
    }
}