.places__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .places__title {
    font-size: 7vw;
  }
}

@media (max-width: 768px) {
  .places__title {
    max-width: 330px;
    font-size: 5.5vw;
    line-height: 110%;
  }
}

@media screen and (max-width: 700px) {
  .places__title {
    width: 90%;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .places__title {
    margin-left: auto;
    margin-right: auto;
  }
}
