.places__link {
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
  text-decoration: underline;
  margin: 0;
  transition: opacity 0.3s ease;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .places__link {
    margin-bottom: 32px;
  }
}
