.footer__menu {
 display: flex;

}

@media screen and (max-width: 560px) {
    .footer__menu {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-bottom: 16px;
    }
}