@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);

.lead {
    max-width: 984px;
    margin: 0 auto;
    padding: 0 48px 92px 48px;
}

@media screen and (max-width: 800px) {
    .lead {
        width: 100%;
        padding: 0 0 88px 0;
    }
}

@media screen and (max-width: 460px) {
    .lead {
        width: 100%;
        padding: 0 0 88px 0;
    }
}