.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}
