.header__logo {
    min-width: 176px;
}

@media screen and (max-width: 800px) {
    .header__logo {
        width: 24.5%;
    }
}

@media screen and (max-width: 460px) {
    .header__logo {
        max-width: 142px;
    }
}