.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

@media screen and (max-width: 560px) {
    .footer__copyright {
        text-align: left;
        font-size: 14px;
        line-height: 14px;
    }
}