.places__place {
    margin-top: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    justify-content: center;
}

.places__place:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 1100px) {
    .places__place {
        grid-column-gap: 40px;
        grid-row-gap: 48px;
    }
}

@media screen and (max-width: 800px) {
    .places__place {
        grid-column-gap: 28px;
        grid-row-gap: 40px;
    }
}

@media screen and (max-width: 460px) {
    .places__place {
        display: block;
        margin-bottom: 48px;
    }
}