.cover__overlay {
    width: 100%;
    max-width: 1184px;
    background-color: #2a2c2f;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

.cover__overlay:hover {
    opacity: 0.8;
}

