.cover__background {
position: relative;
text-decoration: none;
background-image: url(../../../images/cover-trains.jpg);
background-size: cover;
background-position: center;
width: 100%;
max-width: 1184px;
}


