.cover__title {
  max-width: 560px;
  margin: 0 auto 32px auto;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__title {
    font-size: 9.4vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 109%;
  }
}
